h1, h2, h3, h4, h5, h6 {
	font-weight: 200;
  color: #333;
  text-transform: uppercase;
	@media #{$medium-up} {
	}
	@media #{$large-up} {
	}
}

html {
  border-top: 8px solid $primary-color;
}

.round-corners {
  border-radius: 7px;
}

a.morelink {
  display: block;
  width: 60%;
  margin: 0 auto;
  font-size: 20px;
  border-radius: 7px;
}

//helper for font weight
//Open+Sans:400,700,800|Raleway:400,200,700
.font-light {
	font-weight: 200;
}
.font-weight-normal {
	font-weight: 400;
}
.font-bold {
	font-weight: 700;
}
.font-heavy {
	font-weight: 800;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box!important;
     -moz-box-sizing: border-box!important;
          box-sizing: border-box!important;
}

// blockquote {
//   border-left: 2px solid $primary-color;
// }
a {
  -webkit-transition: color .3s ease;
     -moz-transition: color .3s ease;
      -ms-transition: color .3s ease;
       -o-transition: color .3s ease;
          transition: color .3s ease;
}

header {
  h1.title {
    font-size: 16px;
    text-align: center;
    margin-top: 15px;
    text-transform: uppercase;
    color: $oil;

    a {
      color: $oil;
      text-transform: uppercase;
    }
  }

  .nav {
    border-top: 2px solid #aaa;
    padding-top: 10px;
    margin-bottom: 5px;

    li, li a {
      font-size: 14px;
      margin-right: 10px;
      font-family: sans-serif;
      font-weight: 100;
    }
  }
}

footer {
  i.fa {margin: 0 15px;}
}

.copyright {
  color: $aluminum;
  font-size: 18px;
  margin: 20px auto 10px;
}

// EMAIL SUBSCRIPTIONS
$email-input-font-size: 20px;
$email-input-height: 60px;
#mc_embed_signup {
  background-color: #f5f5f5;
  text-align: center;
  padding: 10px 10px 40px;
  margin: 10px auto;


  h2 {
    text-align: center;
    font-size: 24px;
    padding-top: 0;
  }

  h3 {
    text-align: center;
    max-width: 600px;
    display: inline-block;
    margin-bottom: 25px;
    line-height: 1.2em;
    margin-top: -5px;
  }

  .email-input-style {
    height: $email-input-height;
    width: 95%;
    text-align: center;
    font-size: $email-input-font-size;
  }

  .mc-field-group {
    width: 33%;
    float: left;

    input {
      @extend .email-input-style;
    }
  }

  input[type="submit"] {
    @extend .email-input-style;
    height: $email-input-height + 5px;
    width: 33%;
    padding: 1px;
    text-transform: uppercase;
    border-radius: initial;
    border: none;
  }
}


// MEDIA QUERIES
@media #{$medium-up} {
  header {
    h1.title {font-size: 22px;}
    nav li, nav li a {font-size: 16px;}
  }

  a.morelink {
    width: 35%;
  }
}


@import "post";