h1, h2, h3, h4, h5, h6 {
	font-weight: 200;
	@media #{$medium-up} {
	}
	@media #{$large-up} {
	}
}



//helper for font weight
//Open+Sans:400,700,800|Raleway:400,200,700
.font-light {
	font-weight: 200;
}
.font-weight-normal {
	font-weight: 400;
}
.font-bold {
	font-weight: 700;
}
.font-heavy {
	font-weight: 800;
}

.quiet {
	font-size: 80%;
}

// ARS customizations begin

///////////////
// OVERALL
///////////////
body {
	@media #{$medium-up} {
		padding: 20px 0 0 0;
	}
	@media #{$large-up} {
	}
}

.off-canvas-content {
	padding-top: 20px;
}

///////////////////
// Font sizing
///////////////////
$h1_size: 39px;
$h2_size: $h1_size * .75;
$h3_size: $h2_size * .75;
$h4_size: $h3_size * .75;
$h5_size: $h4_size * .75;
$h6_size: $h5_size * .75;

h1 {font-size: $h1_size;}
h2 {font-size: $h2_size;}
h3 {font-size: $h3_size;}
h4 {font-size: $h4_size;}
h5 {font-size: $h5_size;}
h6 {font-size: $h6_size;}

@media #{$medium-up} {
  $h1_size: 44px;
  $h2_size: $h1_size * .75;
  $h3_size: $h2_size * .75;
  $h4_size: $h3_size * .75;
  $h5_size: $h4_size * .75;
  $h6_size: $h5_size * .75;
  h1 {font-size: $h1_size;}
  h2 {font-size: $h2_size;}
  h3 {font-size: $h3_size;}
  h4 {font-size: $h4_size;}
  h5 {font-size: $h5_size;}
  h6 {font-size: $h6_size;}
}

@media #{$large-up} {
  $h1_size: 51px;
  $h2_size: $h1_size * .75;
  $h3_size: $h2_size * .75;
  $h4_size: $h3_size * .75;
  $h5_size: $h4_size * .75;
  $h6_size: $h5_size * .75;
  h1 {font-size: $h1_size;}
  h2 {font-size: $h2_size;}
  h3 {font-size: $h3_size;}
  h4 {font-size: $h4_size;}
  h5 {font-size: $h5_size;}
  h6 {font-size: $h6_size;}
}

///////////////
// NAV
///////////////
.title-bar-title {
	padding-left: 13px;
	@media #{$medium-up} {
		padding: 20px 0 0 0;
	}
	@media #{$large-up} {
	}
}


.side-nav {
	li a.active {
		background-color: $green;
		color: $white;
	}
}

.side-nav-brand {
	margin-top: -4px;
}

///////////////
// BODY
///////////////
h1 a {color: $body-font-color;}

a.morelink {
  display: block;
  width: 30%;
  margin: 30px auto 0;
  font-size: 20px;
  font-weight: bold;
  border-radius: 7px;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box!important;
     -moz-box-sizing: border-box!important;
          box-sizing: border-box!important;
}

#loading {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5);
  top: 0;
  bottom: 0;
  background-size: 200px;
  z-index: 9999;
  padding-top: 20%;
}

a {
  -webkit-transition: color .3s ease;
     -moz-transition: color .3s ease;
      -ms-transition: color .3s ease;
       -o-transition: color .3s ease;
          transition: color .3s ease;
}

hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: $medium-gray; /* old IE */
    background-color: $medium-gray; /* Modern Browsers */
}

.pagination .current a {
	color: $pagination-item-color-current;
	&:hover {background-color: inherit;}
}

img.headshot {
  border-radius: 250px;
  max-width: 135px;
  nav & {
    margin-bottom: 15px;
    margin-left: 13px;
    width: 133px;
  }
}

.greeting {
  margin-top: 15px;
}


////////////////////
// FOOTER
////////////////////
.footer-break {margin: 25px auto}

footer {
  // border-top: 1px solid $medium-gray;
  // padding-top: 10px;
  .social-container {margin-bottom: 20px;}
  i.social {margin-right: 20px;}
  .feedly {margin: 0 auto 20px;}
  .license {margin: 15px auto;}

  a.back-to-top {
    margin-bottom: 25px;
    display: inline-block;
    vertical-align: top;
    zoom: 1; /* Fix for IE7 */
    *display: inline; /* Fix for IE7 */
  }
}


// keep empty columns from collapsing
.column, .columns{
  min-height: 1px;
}

h5.impact-title {
  padding-left: 16px;
}

[trimpadding]  {
  padding-left: 0;
  @media #{$medium-up} {
    padding-left: .5em;
    padding-right: .5em;
  }
  @media #{$large-up} {
  }
}

.title-bar {
  background-color: #fdfdfd;
  width: 100%;
}



#intro {
  p:first-of-type {
    margin-top: 30px;
  }
}


@import "post";