h1, h2, h3, h4, h5, h6 {
	font-weight: 200;
  color: #333;
	@media #{$medium-up} {
	}
	@media #{$large-up} {
	}
}

html {
  border-top: 8px solid $primary-color;
}

.round-corners {
  border-radius: 7px;
}

a.morelink {
  display: block;
  width: 35%;
  margin: 0 auto;
  font-size: 20px;
  border-radius: 7px;
}

//helper for font weight
//Open+Sans:400,700,800|Raleway:400,200,700
.font-light {
	font-weight: 200;
}
.font-weight-normal {
	font-weight: 400;
}
.font-bold {
	font-weight: 700;
}
.font-heavy {
	font-weight: 800;
}

// CUSTOM
*, *:before, *:after {
  -webkit-box-sizing: border-box!important;
     -moz-box-sizing: border-box!important;
          box-sizing: border-box!important;
}

// blockquote {
//   border-left: 2px solid $primary-color;
// }

a {
  -webkit-transition: color .3s ease;
     -moz-transition: color .3s ease;
      -ms-transition: color .3s ease;
       -o-transition: color .3s ease;
          transition: color .3s ease;
}

header {
  h1.title {
    font-size: 22px;
    text-align: center;
    margin-top: 15px;
    color: $oil;

    a {
      color: $oil;
    }
  }

  .nav {
    border-top: 2px solid #aaa;

    li {
      font-size: 18px;
      margin-right: 10px;
      font-family: 'Fjalla One'!important;
    }
  }
}

@import "post";