 @font-face {
  font-family: 'Fjalla';
  src: url('/scss/fonts/fjalla/fjalla.eot'); /* IE9 Compat Modes */
  src: url('/scss/fonts/fjalla/fjalla.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/scss/fonts/fjalla/fjalla.woff') format('woff'), /* Pretty Modern Browsers */
       url('/scss/fonts/fjalla/fjalla.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/scss/fonts/fjalla/fjalla.svg#svgFontName') format('svg'); /* Legacy iOS */
}

 @font-face {
  font-family: 'PT Serif';
  src: url('/scss/fonts/pt_serif/pt_serif.eot'); /* IE9 Compat Modes */
  src: url('/scss/fonts/pt_serif/pt_serif.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/scss/fonts/pt_serif/pt_serif.woff') format('woff'), /* Pretty Modern Browsers */
       url('/scss/fonts/pt_serif/pt_serif.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/scss/fonts/pt_serif/pt_serif.svg#svgFontName') format('svg'); /* Legacy iOS */
}

 @font-face {
  font-family: 'Tiempos';
  src: url('/scss/fonts/tiempos/TiemposTextWeb-Regular.eot'); /* IE9 Compat Modes */
  src: url('/scss/fonts/tiempos/TiemposTextWeb-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/scss/fonts/tiempos/TiemposTextWeb-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('/scss/fonts/tiempos/TiemposTextWeb-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/scss/fonts/tiempos/TiemposTextWeb-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}