.post {
  margin-bottom: 50px;

  &:not(:first-of-type) {
    margin-top: 25px;
  }

  img {
    margin: 0 auto;
    display: block;
  }

  blockquote {
    font-style: italic;
    margin-left: 25px;
  }

  h1 {
    text-transform: initial;
    text-align: center;
    font-size: 26px;
  }

  .photo-credit {
    font-size: 10px;
    margin-top: 25px;
    color: $aluminum;
  }

  h1, h2, h3, h4, h5, h6 {
    color: $oil;
    a {
      color: $oil;
      &:hover {
        color: $primary-color;
        -webkit-transition: all .25s ease;
           -moz-transition: all .25s ease;
            -ms-transition: all .25s ease;
             -o-transition: all .25s ease;
                transition: all .25s ease;
      }
    }
  }
}

// MEDIA QUERIES
@media only screen and (max-width: 768px) and (min-width: 481px) {
  .post {
     padding: 0 40px 50px;
  }
}

@media #{$medium-up} {
  .post {
    h1 {
      font-size: 38px;
    }

    .content {
      padding-right: 15px;
      padding-left: 15px;
    }
    p {font-size: rem-calc(20);}
    ol li, ul li {font-size: rem-calc(20);}
  }
}