body.post {
  margin-bottom: 100px;

  &:not(:first-of-type) {
    margin-top: 25px;
  }

  h1:first-of-type {
    font-size: 47px;
    text-align: center;
  }

  & + hr {
    max-width: 60%;
    margin: 0 auto;
    &:last-of-type {display: none;}
  }

  blockquote {
    font-style: italic;
    margin-left: 25px;
    font-weight: bold;
  }

  h1 {
    text-transform: initial;
    // text-align: center;
    // font-size: 26px;
  }


  .photo-credit {
    font-size: 10px;
    margin-top: 25px;
    color: $light-gray;
  }

  h1, h2, h3, h4, h5, h6 {
    color: $oil;
    a {
      color: $oil;
      &:hover {
        color: $anchor-color-hover;
        -webkit-transition: all .25s ease;
           -moz-transition: all .25s ease;
            -ms-transition: all .25s ease;
             -o-transition: all .25s ease;
                transition: all .25s ease;
      }
    }
  }

}

// MEDIA QUERIES
@media only screen and (max-width: 768px) and (min-width: 481px) {
  body.post {
     padding: 0 40px 50px;
  }
}

@media #{$medium-up} {
  body.post {

    img {
      margin: 10px auto;
      display: block;

      &.right {margin-left: 20px;}
      &.left {margin-right: 20px;}
    }

    .content {
      padding-right: 15px;
      padding-left: 15px;
    }

    #main-content {
      font-size: rem-calc(20);
    }
  }
}