---
comments: false
body_class: home
---
{% for post in paginator.posts %}
  <div class="post">
    <div class='info'>
      <h1><a href='{{post.url}}'>{{ post.title }}</a></h1>
    </div>
    <div class='content'>
      {% if post.dont_truncate %}
        {{ post.content }}
      {% else %}
        {{ post.content | split:"<!-- more -->" | first | truncatewords:300 }}
      {% endif %}
    </div>
    <div class="content">
      {% unless post.dont_truncate %}
        {% if post.content | size > 300 %}
          <a class='button morelink' href='{{ site.url}}{{ post.url }}#morelink'>Read more &rarr;</a>
        {% endif %}
      {% endunless %}
    </div>
  </div>
{% endfor %}

{% if paginator %}
  <div class="pager clearfix">

    {% if paginator.next_page %}
      {% if paginator.next_page == 1 %}
        <a href="" class="inline-block older left">Older Entries</a>
      {% else %}
        <a href="{{ paginator.next_page_path }}" class="inline-block older left">Older Entries</a>
      {% endif %}
    {% else %}
      <span class="inline-block older left">Older Entries</span>
    {% endif %}

    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <a href="/" class="inline-block newer right">Newer Entries</a>
      {% else %}
        <a href="{{ paginator.previous_page_path }}" class="inline-block newer right">Newer Entries</a>
      {% endif %}
    {% else %}
      <span class="inline-block newer right">Newer Entries</span>
    {% endif %}
  </div>
{% endif %}
