<div class="small-3 show-for-small-only columns">
  <img src="/images/headshot.jpeg" alt="Andrew Skotzko" class="round-corners headshot">
</div>

<div class="large-9 columns">
  <h2>Me in 10 Seconds</h2>
  <ul>
    <li>I'm a curious entrepreneur and believe we're either learning and growing, or dying</li>
    <li>I'm passionate about using technology to help people connect, express their humanity, and unlock their own capabilities</li>
    <li>I always keep asking questions, and try to share what I learn.</li>
    <li>My favorite parable: <a href="/eat-me-if-you-wish/">"Eat Me If You Wish"</a></li>
  </ul>

  <p>I want to be as creative as possible and always keep learning and growing.</p>
  <p>As no bio is complete without the ask: please follow me on Twitter.
  {% include follow_button.html %}
  </p>
</div>

<div class="large-3 hide-for-small-only columns">
    <img src="/images/headshot.jpeg" alt="Andrew Skotzko" class="round-corners headshot" style="max-width: 170px;">
</div>