<section id="intro">
  <div class="row">
    <div class="small-12 columns">
      <img data-src="/images/headshot.jpeg" width=150 class="lazy round-corners headshot center hide-for-medium">

      <h2 class="greeting text-center">Hello, world! I'm Andrew.</h2>
      <h3 class="text-center">I build sustainable products & systems.</h3>

      <h4 class="text-center greeting">I work at the intersection of technology, impact, and business to create thriving interfaces between people & the environment.</h4>

    </div>
  </div>
</section>