<section id="intro">
  <div class="row">
    <div class="small-12 columns">
      <img data-src="/images/headshot.jpeg" width=150 class="lazy round-corners headshot center hide-for-medium">

      <h2 class="greeting text-center">Hello, world! I'm Andrew.</h2>
      <h3 class="text-center">I build products that matter.</h3>

      <h4 class="text-center greeting">I live at the intersection of technology and the world's biggest problems. <br><span class="show-for-medium">I work out what's going on, what's next, and where the gap is.</span></h4>
      <h4 class="text-center hide-for-medium">I work out what's going on, what's next, and where the gap is.</h4>
    </div>
  </div>
</section>