<section id="intro">
  <div class="row">
    <div class="small-12 columns">
      <img src="/images/headshot.jpeg" width=150 alt="Andrew Skotzko" class="round-corners headshot center hide-for-medium">

      <h3 class="greeting text-center">Hello, world! I'm Andrew.</h3>

      <h4 class="text-center">I try to create new technology to impact the world's biggest problems.</h4>

      <p>I work at the intersection of technology, business, and social impact. I try to work out what's going on, what will happen next, and where the gap is. I also write about this—see the <a href="#blog">blog</a> section below.</p>

      <p>I'm innovative, insatiably curious, and intensely interested in discovering what's possible.</p>

      <h3>Me in 10 Seconds</h3>
      <ul>
          <li>I'm an impact entrepreneur & full-stack software engineer.</li>
          <li>I work with impact-driven tech companies, businesses, and innovators. I'm most interested in for-profit impact businesses and how technology can create them.</li>
          <li>I live in Los Angeles, CA.</li>
          <li>I believe we're either learning and growing, or dying.</li>
          <li>I'm a food nerd. I'll geek out on protein denaturation and sous vide techniques anytime.</li>
          <li>My favorite parable is <a href="/eat-me-if-you-wish/">"Eat Me If You Wish."</a></li>
      </ul>

      <p>As no bio is complete without the ask: please follow me on Twitter.
        {% include follow_button.html %}
      </p>

    </div>
  </div>
</section>