{% assign context = include.context %}

<section id="{{ context.id }}"
{% if context.magellan_target %}
data-magellan-target="{{ context.magellan_target }}"
{% endif %}>
  <div class="row">

    <div class="{% unless include.no_split %}medium-3 {% endunless %}small-12 columns">
      <h3>{{ context.title }}</h3>
    </div>

    <div class="{% unless include.no_split %}medium-9 {% endunless %}small-12 columns">
    {% for content in context.content %}
      {% if content.tag %}
        {% assign tag = content.tag %}
      {% else %}
        {% assign tag = "p" %}
      {% endif %}
      <{{tag}}>{{ content.text }}</{{tag}}>
    {% endfor %}
    </div>

    {% if context.second_section %}
      {% assign context = context.second_section %}
      <hr>

      <div class="{% unless include.no_split %}medium-3 {% endunless %}small-12 columns">
        <h3>{{ context.title }}</h3>
      </div>

      <div class="{% unless include.no_split %}medium-9 {% endunless %}small-12 columns">
      {% for content in context.content %}
        {% if content.tag %}
          {% assign tag = content.tag %}
        {% else %}
          {% assign tag = "p" %}
        {% endif %}
        <{{tag}}>{{ content.text }}</{{tag}}>
      {% endfor %}
      </div>

    {% endif %}

  </div>
</section>