<div class="full" id="contact-form-container">
    <div class="form">
        <div class="row">
            <form accept-charset="utf-8" novalidate id="contact-form">
                <div class="medium-6 large-6 columns">
                    <input placeholder="NAME" name="name" type="text">
                    <input placeholder="EMAIL" name="_replyto" type="text">
                    <input placeholder="SUBJECT" name="_subject" type="text">
                </div>
                <div class="medium-6 large-6 columns">
                    <textarea placeholder="MESSAGE" name="message" style="height: 140px;"></textarea>
                </div>
            </form>
            <div class="medium-6 large-6 columns"></div>
            <div class="medium-6 large-6 columns">
                <input class="button boxed white" type="submit" onclick="window.submitForm('#contact-form-container','#contact-form')">
            </div>
        </div>
    </div>
</div>
