


<div id="mc_embed_signup">
<form action="{{ site.email_list_signup_url }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  {% comment %}
  <div>
    <h2>Build. Great. Systems!</h2>
    <h4>We explore distributed computing and the technology, algorithms, and mental models required to use it powerfully. Come along for the ride.</h4>
  </div>
  {% endcomment %}
<div class="mc-field-group">
  <input type="text" value="" name="FNAME" class="required"
               placeholder="your first name" id="mce-FNAME">
</div>
<div class="mc-field-group">
  <input type="email" value="" name="EMAIL" placeholder="email@domain.com"
               class="required email" id="mce-EMAIL">
</div>
  <div id="mce-responses" class="clear">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_30e2a749f04879b1be678f2a5_a428582d45" tabindex="-1" value=""></div>
    <div class="clear">
    <input type="submit" value="Let's go!" name="subscribe" id="mc-embedded-subscribe" class="button" {% unless include.dont_track_clicks %}onclick="ga('send', 'event', 'Submit newsletter form', '{{ page.title | strip }}');"{% endunless %}></div>
</form>
</div>

<!--End mc_embed_signup-->