<footer id="footer" class="site-footer row text-center" role="contentinfo">
  <div class="row">
    <div class="small-12 medium-centered medium-9 columns">
      {% unless page.hide_back_to_top %}
        <a href="#top" class="back-to-top">Back to top.</a>
      {% endunless %}

      <div class="social-container">
        <p class="quiet copyright center text-center">
          <a href="{{ site.links.twitter }}">
            <i class="social fa fa-3x fa-twitter"></i>
          </a>
          <a href="{{ site.links.linkedin }}">
            <i class="social fa fa-3x fa-linkedin"></i>
          </a>
          <a href="{{ site.links.angel_list }}">
            <i class="social fa fa-3x fa-angellist"></i>
          </a>
          <a href="{{ site.links.github }}">
            <i class="social fa fa-3x fa-github"></i>
          </a>
          <a href="{{ site.links.stack_overflow }}">
            <i class="social fa fa-3x fa-stack-overflow"></i>
          </a>
          <a href="{{ site.links.rss }}">
            <i class="social fa fa-3x fa-rss"></i>
          </a>
        </p>
      </div>

      <div>
        {% capture feedly_url %}http://www.feedly.com/home#subscription/feed/{{ site.url }}{{ site.links.rss }}{% endcapture %}
        <a href="{{ feedly_url }}" target='blank'>
          <img id='feedlyFollow' data-src='https://s3.feedly.com/img/follows/feedly-follow-rectangle-volume-big_2x.png' width='131' height='56' class="center feedly lazy">
          </a>

        <div class="copyright">
          Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }}
        </div>

        <div class='license'>
          <a rel="license" target="_blank" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
          <img data-src="/images/creative_commons_license.png" class="center lazy">
          </a>
        </div>

      </div>
  </div>
</footer>