<!-- Add header and nav here  -->
<!--[if lt IE 8]>
<div data-alert class="alert-box alert radius" class="browsehappy">Please <a href="http://browsehappy.com/">upgrade your browser</a>. <a href="#" class="close">&times;</a></div>
<![endif]-->
<header id="header" class="row">
    <h1 class="title"><a href="/">{{ site.brand }}</a></h1>
    {% include nav.html %}
    <!-- <div class="small-12 columns">
    </div> -->
</header>
<!-- Off Canvas Menu -->
<aside class="right-off-canvas-menu">
    <!-- navigation list goes here -->
    <ul class="off-canvas-list">
        {% include nav.html %}
    </ul>
</aside>