<div class="row">
    <section role="main">
        <div class="small-12 columns">
            {% if page.body_class == 'post' %}
              <h1>{{ page.title }}</h1>
            {% endif %}

            {{ content }}

            {% if page.after_post_text %}
                <p>{{ page.after_post_text }}</p>
            {% endif %}

            {% if page.body_class == 'post' %}
            <div>&nbsp;</div>
            <div class="text-italic">
              Written {% if page.author %} by <a href="{{ page.author_url }}">{{ page.author }}</a>{% endif %} on {{ page.date | date: "%B %e, %Y" }}
            </div>
            <div>&nbsp;</div>
            {% endif %}

            {% comment %}
                {% unless page.no_email_subscribe %}
                    {% include email_subscribe_form.html %}
                {% endunless %}
            {% endcomment %}

            {% if site.disqus_short_name and page.comments %}
              {% include scripts/disqus.html %}
            {% endif %}
        </div>
    </section>
</div>