@font-face {
  font-family: 'Tiempos';
  src: url('/scss/fonts/tiempos/TiemposTextWeb-Regular.eot'); /* IE9 Compat Modes */
  src: url('/scss/fonts/tiempos/TiemposTextWeb-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/scss/fonts/tiempos/TiemposTextWeb-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('/scss/fonts/tiempos/TiemposTextWeb-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/scss/fonts/tiempos/TiemposTextWeb-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}