// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

/*
-------------------------------------------------------------------------
Author: Vladi Gleba (vladigleba.com)
Date: October 2013

This layout is based on the following modular scale:

20px @ 1:1.618
62px @ 1:1.618

See http://modularscale.com/scale/?px1=20&px2=62&ra1=1.618&ra2=0
for the numbers in this scale. All font-size, line-height, margin, and
padding values are derived from these numbers.

See http://alistapart.com/article/more-meaningful-typography
to learn about modular scales.

-------------------------------------------------------------------------
*/


// ------------------------------
// variables
// ------------------------------

$accent-color: #65a672;
$accent-hover-color: darken($accent-color, 8%);

$text-color: #333;
$secondary-text-color: #aaa;

$line-color: #e6e6e6;
$hide-line-numbers: true;

$border-radius-size: 4px;
$border-style: 2px solid $secondary-text-color;


// ------------------------------
// shared styles
// ------------------------------

.default-line-height {
  line-height: 32.360px;
  line-height: 1.618rem;
}

.font-size-smallest {
  font-size: 14.637px;
  font-size: 0.732rem;
}

.font-size-small {
  font-size: 16.773px;
  font-size: 0.839rem; /* 0.732 + 0.107 */
}

.font-size-medium {
  font-size: 19.359px;
  font-size: 0.968rem; /* 0.732 + 0.236 */
}

.font-size-large {
  font-size: 32.36px;
  font-size: 1.618rem;
}

.font-size-largest {
  font-size: 38.319px;
  font-size: 1.916rem;
}

.margin-bottom-large {
  margin-bottom: 18px;
}

.margin-bottom-larger {
  margin-bottom: 52.358px;
  margin-bottom: 2.618rem;
}

.margin-bottom-largest {
  margin-bottom: 20px;
}

.block-padding {
  padding: 1px 32.360px;
  padding: 1px 1.618rem;
}

.border-style {
  border-top: 2px solid $secondary-text-color;
}

.code-keywords {
  background-color: #e8e8e8;
  border-radius: $border-radius-size;
  padding: 0 5.591px;
  padding: 0 0.28rem;
}

.button {
  @include transition(all 0.3s ease 0s);
  border-radius: $border-radius-size;
  background-color: $accent-color;
  color: #fff;

  &:hover {
    background-color: $accent-hover-color;
    color: #fff;
  }
}

.code-font {
  font-family: Menlo, Monaco, "Andale Mono", "Lucida Console", "Courier New", monospace;
}

.sans-serif-font-bold {
  font-family: "Fjalla One", "Helvetica Neue", Arial, sans-serif;
}

.sans-serif-font {
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
}

.default-font {
  font-family: "PT Serif", Georgia, Times, "Times New Roman", serif;
}


// ------------------------------
// general styles
// ------------------------------

html {
  @extend .default-font;
  border-top: 8px solid $accent-color;
  font-size: 125%;
  line-height: 1;
}

body {
  -webkit-text-size-adjust: none; /* prevent mobile safari from resizing text */
  background-color: #fff;
  color: $text-color;
  text-align: center;
  width: 54%;
  margin: 0 auto;
}

.text-center {
  text-align: center!important;
}

img {
  width: auto;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  @extend .sans-serif-font-bold;
  text-rendering: optimizeLegibility;
}

a {
  color: $accent-color;
  text-decoration: none!important;
  outline: none;
  @include transition(color 0.3s ease 0s);

  &:hover {
    color: $accent-hover-color;
  }
}

#main {
  clear: both;
}

aside,
.mobile-nav,
.subscription {
  display: none;
}

.img-center {
  display: block;
  margin: 0 auto;
}

.img-left {
  display: block;
  float: left!important;
  margin: 25px;
}

.img-right {
  display: block;
  float: right!important;
  margin: 25px;
}


section {
  @extend .margin-bottom-largest;
}

blockquote {
  @extend .block-padding;
  @extend .margin-bottom-large;
  border-left: $border-style;
  font-style: italic;

  p {
    margin: 0;
  }

  footer {
    @extend .default-font;
    text-align: right;

    a {
      text-decoration: underline;
    }

  }
}

article ol li {
  margin: 5px inherit;

  p {
    margin: 0;
  }
}

cite, em, i, dfn {
  font-style: italic;
}

b, strong {
  font-weight: bold;
}

abbr {
  border-bottom: 1px dotted #000;
}

small {
  font-size: 16px;
  font-size: 0.8rem;
}

mark {
  background-color: #ffff66;
}

sup, sub {
  font-size: 14px;
  font-size: 0.7rem;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.6rem;
}

sub {
  bottom: -0.4rem;
}

img#portrait {
  float: right;
  border-radius: 125px;
  margin-left: 20px;
  margin-left: 1rem;
  width: 240px;
}

// subscriptions
$email-input-font-size: 20px;
$email-input-height: 60px;
#mc_embed_signup {
  background-color: #f5f5f5;
  text-align: center;
  padding: 10px 10px 40px;
  margin: 10px auto;


  h2 {
    text-align: center;
    font-size: 24px;
    padding-top: 0;
  }

  h3 {
    text-align: center;
    max-width: 600px;
    display: inline-block;
    margin-bottom: 25px;
    line-height: 1.2em;
    margin-top: -5px;
  }

  .email-input-style {
    height: $email-input-height;
    width: 95%;
    text-align: center;
    font-size: $email-input-font-size;
  }

  .mc-field-group {
    width: 33%;
    float: left;

    input {
      @extend .email-input-style;
    }
  }

  input[type="submit"] {
    @extend .email-input-style;
    height: $email-input-height + 5px;
    width: 33%;
    padding: 1px;
    text-transform: uppercase;
    border-radius: initial;
    border: none;
  }
}


// ------------------------------
// code
// ------------------------------

figure.code {
  @extend .font-size-small;
  @extend .code-font;

  figcaption {
    margin: 4px 0 10px;
    line-height: 23.683px;
    line-height: 1.184rem;
    text-align: right;

    a {
      margin-left: -3px;
      text-decoration: underline;
    }

    span, a {
      @extend .code-keywords;
      display: inline-block;

      &:empty {
        display: none;
      }
    }
  }

  .highlight {
    overflow: auto;
  }
}

pre {
  @extend .block-padding;
  @extend .font-size-small;
  @extend .code-font;
  @extend .margin-bottom-large;
  text-align: left;
  line-height: 18px;

  &.line-numbers {
    @if $hide-line-numbers == true {
      display: none;
    }
  }
}


// ------------------------------
// navigation
// ------------------------------

nav {
  border-top: $border-style;
  overflow: auto;
  padding: 14.637px 0;
  padding: 0.732rem 0;
  margin-bottom: 10px;

  // ----- search form -----

  form {
    float: right;

    input.search {
      @extend .font-size-smallest;
      border: none;
      background-color: #f2f2f2;
      padding: 9.046px 14.637px;
      padding: 0.452rem 0.732rem;
      border-radius: $border-radius-size;
      width: 180px;
      font-size: 14px;
    }
  }

  // ----- navigation links -----

  ul {
    float: left;
    margin-top: 9.03333px; /* not from scale */
    margin-top: 0.45rem; /* rounded */
    line-height: 32.36px;
    line-height: 1.618rem;

    li {
      @extend .font-size-medium;
      @extend .sans-serif-font;
      display: inline;
      font-weight: bold;
      font-size: 14px;
    }

    li + li {
      padding-left: 23.683px;
      padding-left: 1.184rem;
    }
  }
}


// ------------------------------
// blog structure
// ------------------------------

body {

  // ----- blog header -----

  > header {
    margin: 84.715px 0 52.358px 0;
    margin: 1.236rem 0 0.618rem 0;

    h1 {
      font-size: 22px;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 7.640px;
      margin-bottom: 0.382rem;

      a {
        color: $text-color;
      }
    }

    h2 {
      @extend .font-size-large;
      @extend .sans-serif-font;
      color: $secondary-text-color;
    }
  }

  // ----- blog content -----

  .blog-index > article {
    margin-bottom: 60px;
  }

  .photo-credit {
    font-size: 12px;
    margin: 20px auto auto;
  }

  section h1 {
    display: none;
  }

  // ----- pagination -----

  .pagination {
    @extend .sans-serif-font;
    padding: 23.683px 0;
    padding: 1.184rem 0;
    margin-bottom: 62px;
    margin-bottom: 3.1rem;
    margin-top: -45px;
    border-top: $border-style;

    span, a {
      border-radius: $border-radius-size;
      padding: 4.722px 12.361px;
      padding: 0.236rem 0.618rem;
    }

    a {
      @extend .button;
    }

    span {
      border: 1px solid $accent-color;
      color: $accent-color;
    }
  }

  // ----- blog footer -----

  > footer {
    @extend .margin-bottom-larger;
    clear: both;

    p {
      @extend .font-size-smallest;
      @extend .sans-serif-font;
      color: $secondary-text-color;
      line-height: 20px;
      line-height: 1rem;

      a {
        text-decoration: underline;
      }

      &.license {
          margin: 10px auto;
      }
    }
  }
}


// ------------------------------
// archives page
// ------------------------------

#blog-archives {
  margin-bottom: 100.316px;
  margin-bottom: 5.016rem;

  h2 {
    @extend .sans-serif-font-bold;
    color: $secondary-text-color;
    font-size: 50.22px;
    font-size: 2.511rem; /* 2.618 - 0.107 */
  }

  article {
    @extend .margin-bottom-larger;
    text-align: left;

    h1 {
      font-size: 38.319px;
      font-size: 1.916rem;
      line-height: 44px;
      line-height: 2.2rem;
      padding-bottom: 4.722px;
      padding-bottom: 0.236rem;
      margin: 0;
    }

  }

  time, footer {
    @extend .font-size-medium;
    @extend .sans-serif-font;
    color: $secondary-text-color;
    display: inline;
  }

  time:after {
    content: "•";
    padding: 0 6px 0 10px;
    padding: 0 0.3rem 0 0.5rem; /* not from scale */
  }
}


// ------------------------------
// search results page
// ------------------------------

#search_results {
  article {
    margin-left: 0;
    margin-top: 20px;
    margin-top: 1rem;

    > a {
      display: none;
    }

    p {
      margin-top: 14.637px;
      margin-top: 0.732rem;
    }

    time:after {
      content: none;
    }
  }
}


// ------------------------------
// blog post
// ------------------------------

article {
  @extend .margin-bottom-largest;

  // ----- post's header -----

  header {
    @extend .margin-bottom-large;

    h1 {
      font-size: 45.959px;
      font-size: 2.298rem; /* 1.916 + 0.382 */
      margin-bottom: 3.456px;
      margin-bottom: 0.173rem;
      text-align: center;
      line-height: 52.96px;
      line-height: 2.648rem; /* 1.916 + 0.732 */

      a {
        color: $text-color;

        &:hover {
          color: $accent-color;
        }
      }

    }

    p.meta {
      @extend .font-size-medium;
      @extend .sans-serif-font;
      color: $secondary-text-color;
      line-height: 1.184rem;
      text-align: center;

      time {
        @extend .margin-bottom-large;
      }

      > span:before, > span:after {
        padding: 0 4px;
        padding: 0 0.2rem; /* not from scale */
        content: "•";
      }
    }
  }

  // ----- post's content -----

  h1 {
    @extend .font-size-largest;
    /* margin-top: 62.000px; */
    /* margin-top: 3.1rem; */
    margin-top: 20px;
    margin-bottom: 20px;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 30.56px;
    font-size: 1.528rem; /* 1.618 - 0.09 */
    text-transform: uppercase;
    margin: 20px 0 15px;
  }

  h1, h2, h3, h4, h5, h6 {
    text-align: left;
    padding-top: 10px;
  }


  .entry-title {padding-top: 0;}

  ul, ol {
    @extend .block-padding;
    @extend .default-line-height;
    @extend .margin-bottom-large;
    text-align: left;
    margin-left: 20px;
    margin-left: 1rem;

    li:last-child p, ol:last-child p {
      margin-bottom: 0;
    }

    a {
      text-decoration: underline;
    }
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  p {
    @extend .default-line-height;
    @extend .margin-bottom-large;
    text-align: left;
    margin-bottom: 15px;

    a {
      text-decoration: underline;
    }
  }

  p > code, li code {
    @extend .code-keywords;
    @extend .code-font;
    font-size: 17.56px;
    font-size: 0.878rem; /* 0.732 + 0.146 */
  }

  // ----- post's footer -----

  footer {
    @extend .sans-serif-font;
    padding-top: 12.361px;
    padding-top: 0.618rem;

    > span > a {
      text-decoration: underline;
    }

    > p.meta {
      overflow: auto;
      padding-bottom: 38.319px;
      padding-bottom: 1.916rem;

      &:first-child {
        @extend .font-size-smallest;
        @extend .margin-bottom-large;
        padding-bottom: 14.637px;
        padding-bottom: 0.732rem;
        border-bottom: $border-style;

        time:after, span.author:after {
          content: "•";
          padding: 0 6px 0 10px;
          padding: 0 0.3rem 0 0.5rem; /* not from scale */
        }
      }
    }

    a.basic-alignment {
      text-decoration: none;
      width: 45%;
      display: block;
      line-height: 23.683px;
      line-height: 1.184rem;

      &.left {
        float: left;
        text-align: left;
      }

      &.right {
        float: right;
        text-align: right;
      }
    }
  }


  // 'read on' button
  > footer > a {
    @extend .button;
    padding: 0.452rem 0;
    padding: 9.046px 0;
    display: block;
    width: 35%;
    margin: 0 auto;
  }
}


// ------------------------------
// media queries
// ------------------------------

@media screen and (max-width: 1200px) {
  body {
    width: 75%;
  }
}

// ------------------------------

@media screen and (max-width: 900px) {
  body {
    width: 90%;
  }
}

// ------------------------------

@media screen and (max-width: 750px) {
  html {
    font-size: 106%;
  }


  body {
    > header {
      margin: 10px auto;
    }

    > nav {
      padding: 0;
      margin-bottom: 15px;

      > form {
        margin-bottom: 10px;
      }

      input.search {
        text-align: center;
      }

      .main-navigation {
        padding: 5px 0;
      }

    }

  }

  article header h1 {
    font-size: 34px;
  }


  nav {
    border-top: none;
    margin-bottom: 44.401px;
    margin-bottom: 2.618rem;

    ul {
      border-top: 2px solid #808080;
      border-bottom: 1px solid $line-color;
      padding: 16.96px 0;
      padding: 1rem 0;
    }

    ul, form {
      width: 100%;
      margin: 0 auto;
    }

    form {
      margin-bottom: 20.08px;
      margin-bottom: 1.184rem;

      input.search {
        font-size: 14px;
      }
    }
  }

  nav input.search,
  article > footer > a {
    width: 50%;
  }

  // subscriptions
  $email-input-font-size: 14px;
  $email-input-height: 45px;
  #mc_embed_signup {
    .mc-field-group input {
      font-size: $email-input-font-size;
      height: $email-input-height;
    }

    input[type="submit"] {
      font-size: $email-input-font-size;
      height: $email-input-height + 5px;;
    }

  }
}

// ------------------------------

@media screen and (max-width: 480px) {
  body {
    width: 100%;

    > header {
      margin: 10px auto;

      h1 {
        font-size: 18px;
      }

      h2 {
        font-size: 15.349px;
        font-size: 0.905rem; /* 0.732 + 0.173 */
      }
    }
  }

  // subscriptions
  $email-input-font-size: 11px;
  $email-input-height: 30px;
  #mc_embed_signup {
    padding: 10px 10px 20px;
    .mc-field-group {
      width: 37%;
      margin: 0 2px;
      input {
        font-size: $email-input-font-size;
        height: $email-input-height;
      }
    }

    input[type="submit"] {
      font-size: $email-input-font-size;
      height: $email-input-height + 5px;;
      width: 22%;
    }

  }

  nav {
    margin-bottom: 15px;

    form {
      input.search {
        font-size: 13px;
      }
    }

    ul {
      padding: 12.415px 0;
      padding: 0.732rem 0;

      li {
        font-weight: normal;
        font-size: 13px;
      }

      li + li {
        padding-left: 7.66px;
        padding-left: 0.452rem;
      }
    }

    form {
      margin-bottom: 16.96px;
      margin-bottom: 1rem;
    }

  }

  nav input.search,
  article > footer > a {
    width: 70%;
  }

  #blog-archives {
    h2 {
      font-size: 40.161px;
      font-size: 2.368rem;
    }

    article {
    margin-left: 0;

      h1 {
        font-size: 28px;
      }
    }
  }

  .blog-index > article {
    margin-bottom: 60px!important;
  }

  img#portrait {
    display: block;
    float: none;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  #main {
    #content {
      padding: 0 5%;
    }
  }

  article {
    header {
      h1 {
        line-height: 37.244px;
        line-height: 2.196rem; /* 1.916 + 0.28 */
        font-size: 28px;
      }
    }

    footer > p.meta {
      font-size: 16.417px;
      font-size: 0.968rem; /* 0.732 + 0.236 */
    }

    .entry-content {
      h1 {
        font-size: 26.559px;
        font-size: 1.566rem; /* 1.184 + 0.382 */
        line-height: 32.495px;
        line-height: 1.916rem;
      }

      h2 {
        font-size: 23.015px;
        font-size: 1.357rem; /* 1.184 + 0.173 */
      }

      // full width images in small screen
      img {
        width: 112%; // relative to parent (paragraph which has 5% padding per side)
        max-width: 112%; // relative to parent (paragraph which has 5% padding per side)
        margin-left: -6%;
      }

    }
  }
}
